@use "config.scss";

@import "layout";
@import "dialog";

body {
	margin: 0;
	line-height: 1.5;
	text-size-adjust: 100%;
	// background: linear-gradient(-45deg, #23A6D5, #23B6C7, #23C5B9, #23D5AB);
	background-size: 400% 400%;
	animation: gradient 3s ease infinite;
	width: 100%;
	height: 100vh;
	color: config.$fontColor;
}

svg {
	fill: #888;
}

.w120 {
	width: 120px;
}

.loading {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	margin: auto;
	text-align: center;
	overflow: hidden;
}

.weekly {
	display: flex;
	justify-content: space-between;
	list-style: none;
	padding-left: 0;
	max-width: 600px;
	.slideBox {
		display: flex;
		justify-content: space-between;
	}
	.week {
		text-align: center;
		width: 100%;
		cursor: pointer;
		&:hover {
			background: #eee;
		}
		&.on {
			color: green;
		}
		&.Sunday {
			color: red;
		}
		&.Saturday {
			color: blue;
		}
	}
}

// お問い合わせダイアログ
.contactDialog {
	top: 50px!important;
	left: initial!important;
	right: 0!important;
	width: 300px;
	div[aria-labelledby="rightPositionDialog"] {
		min-width: 30%;
	}
}

@keyframes gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@keyframes spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
