@use "config.scss";

@import "reset";
@import "layout";
@import "dialog";

.left { text-align: left; }
.center { text-align: center; }
.right { text-align: right; }

.wAuto { width: auto; }
.w40 { width: 40px; }
.w60 { width: 60px; }
.w80 { width: 80px; }
.w120 { width: 120px; }
.w200 { width: 200px; }

.Status1 { color: #078EBF; }
.Status2 { color: #bf070a; }
.Status3 { color: #5dbf07; }
.Status4 { color: #bf8507; }
.Status5 { color: #4107bf; }
.Status9 { color: #999999; }

.required {
	border: 1px solid #078EBF;
}

.loading {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	margin: auto;
	text-align: center;
	overflow: hidden;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@keyframes spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
