@use "sass:map";

// 汎用的CSS
$maxWidth: 1920px;

// フォントカラー
$fontColor: #111;

// レイアウト
$headerHeight: 50px;
$mainHeight: calc(100vh - 50px - 32px);
$footerHeight: 32px;
$sideSize: 40px;

// テーブル
// https://meyerweb.com/eric/tools/color-blend/#008833:FFFFFF:4:hex
// $blend1_01: #85C69D;
// $blend1_02: #A3D4B6;
// $blend1_03: #C2E3CE;
// $blend1_04: #E0F1E7;

$blend1_01: #111111;
$blend1_02: #707070;
$blend1_03: #A0A0A0;
$blend1_04: #CFCFCF;

// ブレンド2
// https://meyerweb.com/eric/tools/color-blend/#FDD108:FFFFFF:4:hex
$blend2_01: #FEE36B;
$blend2_02: #FEE989;
$blend2_03: #FEEEA6;
$blend2_04: #FFF4C4;

// レスポンシブ対応
$breakpoints: (
	"sp": "screen and (max-width: 789px)",
	"pc": "screen and (min-width: 790px)"
) !default;
@mixin mq($breakpoint) {
	@media #{map.get($breakpoints, $breakpoint)} {
		@content;
	}
}