
@use "config.scss";

.dialogContainer {

	.MuiDialog-paper {
		min-width: 640px;
		min-height: 520px;
	}

	&-header {
		background: #eee;
		height: 50px;
		line-height: 50px;
		display: flex;
		justify-content:space-between;
		padding: 0 0.8em;
		.close {
		}
	}

	&-contents {
		flex-grow: 1;
		padding: 0.4em 0;
		overflow-x: auto;
	}

	&-actions {
		background: #eee;
		text-align: right;
		height: 40px;
		line-height: 40px;
	}
}
.upPositionDialog {

	top: initial!important;
	bottom: 0!important;
	div[aria-labelledby="upPositionDialog"] {

		border-radius: 0;
		bottom: 0!important;
		min-width: 90%;
		max-width: 96%;
		height: calc(100vh - 130px);
		margin: 0;
	}
}

.leftPositionDialog {

	> div {
		display: block;
	}
	left: 0!important;
	div[aria-labelledby="leftPositionDialog"] {

		border-radius: 0;
		left: 0!important;
		bottom: 0!important;
		max-width: 90%;
		height: 100vh;
		max-height: 100%;
		margin: 0;
	}
}

.rightPositionDialog {

	> div {
		display: block;
	}
	right: 0!important;
	div[aria-labelledby="rightPositionDialog"] {

		border-radius: 0;
		bottom: 0!important;
		min-width: 100%;
		height: 100vh;
		max-height: 100%;
		margin: 0;
	}
}

.confirmContainer {

	.MuiDialog-paper {
		min-width: 240px;
		min-height: 120px;
		max-width: 320px;
		max-height: 500px;
	}
	&-contents {
		flex-grow: 1;
		padding: 1em;
		text-align: center;
		overflow-x: auto;
	}
	&-actions {
		background: #eee;
		text-align: right;
		height: 40px;
		line-height: 40px;
	}
}

.MuiBackdrop-root {
	background-color: rgba(0, 0, 0, 0.1)!important;
}