
@use "config.scss";

.upPositionDialog {

	top: initial!important;
	bottom: 0!important;
	div[aria-labelledby="upPositionDialog"] {

		border-radius: 0;
		bottom: 0!important;
		max-width: 90%;
		height: 96vh;
		max-height: 100%;
		margin: 0;
	}
}

.leftPositionDialog {

	> div {
		display: block;
	}
	left: 0!important;
	div[aria-labelledby="leftPositionDialog"] {

		border-radius: 0;
		left: 0!important;
		bottom: 0!important;
		max-width: 90%;
		height: 100vh;
		max-height: 100%;
		margin: 0;
	}
}

.rightPositionDialog {

	> div {
		display: block;
	}
	right: 0!important;
	div[aria-labelledby="rightPositionDialog"] {

		border-radius: 0;
		bottom: 0!important;
		max-width: 100%;
		height: 100vh;
		max-height: 100%;
		margin: 0;
	}
}

.MuiBackdrop-root {
	background-color: rgba(0, 0, 0, 0.1)!important;
}