.Hamburger {
	width: 30px;
	&-Menu {
		background: #fff;
		top: 0;
		left: 0;
	}
	.bm-burger-button {
		button {
			width: 30px!important;
			height: 30px!important;
			background-color: #23A6D5!important;
		}
	}
	.bm-cross-button {
		display: none;
		top: 0!important;
		right: -30px!important;
		height: 30px!important;
		width: 30px!important;
		background-color: #23d558!important;
	}
	.bm-morph-shape {
		fill: #373a47;
	}
	.bm-item-list {
		padding: 0.8em;
	}
	.bm-overlay {
		background: rgba(0, 0, 0, 0.3);
	}
}