@use "config.scss";

.wrapper {

	background: #fff;
	height: 100vh;
	* {
		box-sizing: border-box;
		vertical-align: middle;
	}
	.header {
		position: sticky;
		top: 0;
		z-index: 1;
		white-space: nowrap;
		padding: 0;
		height: config.$headerHeight;
		line-height: config.$headerHeight;
		background: config.$blend1_01;
		color: #fff;
		display: flex;
		justify-content: space-between;
		&-left {
			display: flex;
			align-items: center;
			h1 {
				margin: 0;
				font-size: 16px;
				margin-left: 8px;
				a {
					text-decoration: none;
					color: #fff;
				}
			}
			img {
				width: 40px;
				height: 100%;
			}
			button {
				background: transparent;
			}
		}

		&-right {
			display: flex;
			align-items: center;
			> div, button {
				height: 100%;
				width: 50px;
			}
			button {
				min-width: initial;
				color: #fff;
			}
		}
	}

	.main {
		position: relative;
		display: flex;
		flex-grow: 1;
		height: config.$mainHeight;
		width: 100%;
	}

	.side {

		height: calc(config.$mainHeight + config.$footerHeight);
		background: #eee;

		.MuiDrawer-paper {
			top: config.$headerHeight;
			background: transparent;
			border: none;
		}
		.MuiTouchRipple-root {
			display: none;
		}

		.toggleBtn {
			position: absolute;
			top: 0;
			right: 0;
			width: config.$sideSize;
			height: config.$sideSize;
		}
		.toggleMenu {
			position: absolute;
			top: config.$sideSize;
			width: 100%;
			ul {
				padding: 0;
				li {
					padding: 0;
					width: 100%;
					height: 36px;
					overflow: hidden;
					white-space: nowrap;
					&.-current {
						width: 100%;
						background: #fff;
						a {
							background: #fff;
							white-space: nowrap;
						}
					}
				}
			}
			.-icon {
				display: contents;
				width: config.$sideSize;
			}
			.-label {
				padding-left: 0;
				align-items: flex-start;
				width: 100%;
				color: #888;
			}
		}
		.close {
			.MuiTooltip-tooltip {
				display: none;
			}
		}
		svg {
			width: config.$sideSize;
			fill: #888;
		}
	}

	.footer {
		padding: 0 1em 0 config.$sideSize;
		height: config.$footerHeight;
		line-height: config.$footerHeight;
		background: #eee;
		text-align: right;
		p {
			margin: 0;
		}
	}
}

// 中ページ共通
.views-wrapper {
	position: relative;
	width: 100%;
	padding: 1em;
	overflow-y: scroll;
}

// 検索
.views-search {
	display: flex;
	margin-bottom: 1em;
	> div {
		margin-right: 1em;
	}
}

// ログイン
.LoginForm {

	position: relative;

	&-wrapper {
		position: fixed;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		margin: auto;
		border: 1px solid #888;
		padding: 10px 20px;
		border-radius: 10px;
		width: calc(90% - 40px);
		max-width: 600px;
		background: #fff;

		> * {
			width: 100%;
			margin: 1em 0!important;
		}
		h2 {
			margin-bottom: 0.5em!important;
			color: #888;
			svg {
				margin-right: 0.5em!important;
				vertical-align: middle;
				width: 30px;
				height: 30px;
			}
		}
		button {
			height: 60px;
		}
	}
}